<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/materialize.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <title>Not Found</title>
</head>

<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <br>
      <h1 class="header center black-text">404</h1>
      <div class="row center">
        <h5 class="header col s12 light">Oops! Something went wrong</h5>
      </div>
      <div class="row center">
        <a href="/" class="btn-large waves-effect waves-light teal lighten-1">Home</a>
      </div>
      <br>
      <br>

    </div>
  </div>

  <script src="/js/jquery-3.2.1.js"></script>
  <script src="/js/materialize.min.js"></script>
</body>

</html>